<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Price</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody *ngIf="products.length > 0">
            <tr scope="row" *ngFor="let prod of products">
                <td>{{prod.name}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.price}}</td>
                <td>
                    <a routerLink="/product/{{prod.productId}}"> Details </a>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>